<ion-view title="iBucketList">
    <ion-nav-buttons side="left">
      <button class="button" ng-click="showUserHome()">
        Back
      </button>
    </ion-nav-buttons>
     <ion-content>
       <div class="list list-inset">
          <label class="item item-input">
            <input type="text" ng-model="user.wish" placeholder="Enter Wish" >
          </label>
        </div>
      <div class="padding">
            <button ng-click="add()"  class="button button-block button-balanced">
                  Add Wish
            </button>
        </div>
    </ion-content>
</ion-view>