<ion-view title="iBucketList">
	<ion-nav-buttons side="left">
		<button class="button" ng-click="logout()">
		  Log Out
		</button>
	</ion-nav-buttons>

	<ion-nav-buttons side="right">
	      <button class="button" ng-click="showAddWish()">
	        Add Wish
	      </button>
	</ion-nav-buttons>

	<ion-content>
		<ul class="list">
    		<li class="item" ng-repeat="wish in wishes">
        		{{wish.wish}}
    		</li>
		</ul>
	</ion-content>
</ion-view>
